---
layout: layout.njk
title: About
permalink: "/about/index.html"
---

<h1 class="text-3xl font-mono mb-8">About</h1>

<p><i><strong>Last updated:</strong> 2025-06-08</i></p>

<h2>Overview</h2>

<p>I want be able to talk about myself in two ways:</p>
<ul>
    <li><strong><a href="#current">Current</a></strong> (Things I've been doing in the last 3 months)</li>
    <li><strong><a href="#overall">Overall</a></strong> (A more detailed history of Dan)</li>
</ul>

<h2 id="current">Current</h2>

<h3>🎛️ Writing and recording indie-rock, singer-songwriter album</h3>

<p>I'll probably be writing about this experience the most in my posts section. It's an incredibly involved process – here's the quick timeline:</p>

<ul>
    <li>6 of these guitar parts have been slowly written and materialized for over 3 years</li>
    <li>About 2 years ago, I got put on a show where I wanted to play these songs, so I quickly wrote the lyrics in 2 nights</li>
    <li>Roughly 7 months ago, I demoed out the 6 songs, and added 3 more</li>
    <li>For the past 3 months, I've been fully tracking out these 9 songs</li>
</ul>

<h3>🥎 Captain of an undefeated softball team (3 time champs of Queensbridge)</h3>

<p>It's just so fun being a part of team and doing something we all loved doing as kids. Making good contact, fielding a hard hit ball, running around the diamond. What's better than that?</p>

<h3>🎭 Taking improv classes (Level 3 @ Magnet Theater) </h3>

<p>Nowhere else do I feel more in the flow state than in improv. The active listening, the discovery, the remembering. There will definitely be some improv posts coming.</p>

<h3>🎸 Taking guitar courses through TrueFire</h3>

<ul>
    <li>✅ <strong>Completed:</strong> Guitar DNA: Pentatonics by David Wallimann</li>
    <li>☑️ <strong>In Progress:</strong> The Nature of Guitar by Pat Martino</li>
    <li>☑️ <strong>In Progress:</strong> 1-2-3 Jazz Chord Melody by Frank Vignola</li>
    <li>☑️ <strong>In Progress:</strong> Guitar Gym: Triad Workouts by Chris Buono</li>
</ul>

<h3>🪱 Reading Dune series (currently on book 4)</h3>

<p>The most epic book series I've read in my life. Nothing is more thoughtful and powerful than Dune.</p>

<h2 id="overall">Overall</h2>

<p>This will probably take some time to write...</p>
