---
layout: layout.njk
title: About
permalink: "/about/index.html"
---

<h1 class="text-3xl font-mono mb-8">About</h1>

<p><i><strong>Last updated:</strong> 2025-06-01</i></p>

<h2>Overview</h2>

<p>I want be able to talk about myself in two ways:</p>
<ul>
    <li><strong><a href="#current">Current</a></strong> (Things I've been doing in the last 3 months)</li>
    <li><strong><a href="#overall">Overall</a></strong> (A more detailed history of Dan)</li>
</ul>

<h2 id="current">Current</h2>

<p>TBD</p>

<h2 id="overall">Overall</h2>

<p>This will probably take some time to write...</p>