---
layout: layout.njk
title: About
permalink: "/about/index.html"
---

<h1 class="text-3xl font-mono mb-8">About</h1>

<p><i><strong>Last updated:</strong> 2026-04-06</i></p>

<h2>Overview</h2>

<p>I want be able to talk about myself in two ways:</p>
<ul>
    <li><strong><a href="#current">Current</a></strong> (Things I've been doing in the last 3 months)</li>
    <li><strong><a href="#overall">Overall</a></strong> (A more detailed history of Dan)</li>
</ul>

<h2 id="current">Current</h2>

<h3>Writing and recording indie-rock, singer-songwriter album</h3>

<p>I have <strong><a href="https://danfromqueens.com/posts/2026/2026-04-06-the-album-writing-process/">a post</a></strong> about this process but here's the TLDR:</p>

<ul>
    <li>Making a record is hard.</li>
    <li>I'm not quitting.</li>
</ul>

<p>Check out the show page for upcoming performances.</p>

<h3>Captain of a softball team (3 time champs of Queensbridge)</h3>

<p>It's just so fun being a part of team and playing a game we all loved as kids. Making good contact, fielding a hard hit ball, running around the diamond – what's better than that?</p>

<h3>Taking improv classes</h3>

<p>Nowhere else do I feel more in the flow state than in improv. The active listening, the discovery, the remembering. There will definitely be some improv posts coming. Again, check out the show page for upcoming performances.</p>

<h3>Building out a pedal board</h3>

<p>Ahh, another future post planned for this topic. This is the first guitar pedal board I've ever built. In the past I've gotten very comfortable with using multi-effects units and VSTs. But this indulgent endeavor has made me appreciate the craft, be more intentional, and refine my taste. Tactile galore.</p>

<h3>Writing</h3>

<p>I built this site to share my thoughts, and I haven't done that in 10 months. That's changing.</p>

<h2 id="overall">Overall</h2>

<p>This will probably take some time to write...</p>
