---
layout: layout.njk
title: About
permalink: "/about/index.html"
---

<h1 class="text-3xl font-mono mb-8">About</h1>

<p><i><strong>Last updated:</strong> 2026-04-08</i></p>

<h2>Overview</h2>

I'm a creator at heart.

<h3>Writing and recording indie-rock, singer-songwriter album</h3>

<p>I have <strong><a href="https://danfromqueens.com/posts/2026/2026-04-06-the-album-creation-process/">a post</a></strong> about this process but here's the TLDR:</p>

<ul>
    <li>Making a record is hard.</li>
    <li>I'm not quitting.</li>
</ul>

<p>Check out the show page for upcoming performances.</p>

<h3>Captain of a softball team (3 time champs of Queensbridge)</h3>

<p>It's just so fun being a part of team and playing a game we all loved as kids. Making good contact, fielding a hard hit ball, running around the diamond – what's better than that?</p>

<h3>Taking improv classes</h3>

<p>Nowhere else do I feel more in the flow state than in improv. The active listening, the discovery, the remembering. There will definitely be some improv posts coming. Again, check out the show page for upcoming performances.</p>

<h3>Building out a pedal board</h3>

<p>Ahh, another future post planned for this topic. This is the first guitar pedal board I've ever built. In the past I've gotten very comfortable with using multi-effects units and VSTs. But this indulgent endeavor has made me appreciate the craft, be more intentional, and refine my taste. Tactile galore.</p>

<h3>Creating this website</h3>

<p>I'm still imagining what this site could become. It's work to construct a design that feels like me, discover the features I want, and also create the content to fill it's pages. I'd love to share the building and writing process at some point (writing especially, since that practice has been extremely reflective).</p>

<h3>Practicing Yoga</h3>

<p>If I had to pick one thing to do for the rest of my life, it would be yoga. It's active, it's mindful, it's community.</p>

<h3>Learning Photography</h3>

<p>Last year, I bought my first camera, a Fujifilm XM-5. It's been a pure hobby for me: I'm curious about the topic, enjoy the craft, and have zero aspirations of where this hobby may lead. I learn at the slowest pace imaginable through <a href="http://www.r-photoclass.com/">r-photoclass</a> and experimentation.</p>
