---
layout: layout.njk
title: Shows
permalink: /shows/
---

{% from "macros/renderShows.njk" import renderShows %}

<h1 class="text-3xl font-mono mb-8">Shows</h1>

<h2>Upcoming</h2>
{{ renderShows(shows.upcoming.music, "Music") }}
{{ renderShows(shows.upcoming.improv, "Improv") }}

<h2>Past</h2>
{{ renderShows(shows.past.music, "Music", false) }}
{{ renderShows(shows.past.improv, "Improv", false) }}
